<html ng-app="warren">
<head>
    <meta charset="UTF-8">
    <title>Warren</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/zingchart/client/zingchart.min.js"></script>
    <script src="../node_modules/zingchart-angularjs/src/zingchart-angularjs.js"></script>
    <script src="../statics/js/app.js"></script>
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
<!--<div class="navbar navbar-default navbar-fixed-top">-->
    <!--<ul class="nav navbar-nav"> <li class="active"><a href="#">Home</a></li> <li><a href="#">Link</a></li> <li><a href="#">Link</a></li> </ul>-->
<!--</div>-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Warren</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Proforio</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Michael</p></li>
                <li><p class="navbar-text">Money: 1000$</p></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div ng-controller="mainController" class="container-fluid">


    <div ng-repeat="(symbol, object) in stocks">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-asterisk"></span>
                <span class="name">{{object.name}}</span>
                <span>{{object.price}}</span>
                <span class="change">{{object.change}}</span>

                <div class="pull-right btn-group">
                <button class="btn btn-primary" ng-click="buy(symbol)">Buy</button>
                <button class="btn btn-danger">Sell</button>
                <button class="btn btn-default" data-toggle="collapse" href="#{{symbol}}">Detail</button>

                </div>
                <div class="clearfix"></div>
            </div>
            <div id="{{symbol}}" class="panel-collapse collapse ">
                <div id="new-tasks-list" class="panel-body task-list">
                    <zingchart id="{{object.symbol}}" zc-values="myData" zc-height=500 zc-width=600 zc-type="line"></zingchart>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>